// Fonts

$default-font: 'Rubik', sans-serif;

// Colors
$purple: #5D1499;
$medium-purple: #260031;
$dark-purple: #27073D;
$white: #fff;
$black: #424242;
$purple-alpha: rgba(255, 255, 255, 0.15);
$grey: #D8D8D8;
$blue: #0880C7;
$light-grey: #F2F2F2;
$yellow: #FFBA13;
$white-alpha: rgba(255, 255, 255, 0.2);
$disabled: #b5b5b5;

// Elavations
$elevation-1: 0px -4px 8px rgba(0, 0, 0, 0.2);
$elevation-2: 0px 2px 4px rgba(0, 0, 0, 0.1);