// Reseting ClickBus Components

body {
  .nav-secondary, footer.page-footer  {
    display: none !important;
  }
}

img {
  max-width: 100%;
}

body {
  &.no-navigation-enabled {
    overflow: hidden !important;
  }
}

// Global

#clickbus-landing-page-wrapper {
  font-family: $default-font !important;
  *, *::before, *::after {
    box-sizing: border-box !important;
  }
}

.bf-content {
  padding: 0 1.25em;
}

// Intro

#bf-intro {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    display: block;
    pointer-events: none;
    width: 100%;
  }
}

// List

.bf-section-header {
  padding: 3em 1.5em;

  h2 {
    font-size: 8vw;
    margin: 0 0 0.5em;
    font-weight: normal;
  }

  span {
    font-size: 4.5vw;
    line-height: 1.5;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

#bf-routes-list {
  background-color: $dark-purple;
  box-shadow: $elevation-1;
  overflow: hidden;
  position: relative;
  z-index: 2;
  color: $white;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  margin-top: -2em;

}

// Filter

.bf-routes-filter {
  > span {
    display: block;
    margin: 0 0 0.5em 1em;
    font-weight: 300;
  }
  button {
    box-shadow: $elevation-2;
    padding: 1em;
    font-size: 5vw;
    background-color: $white;
    border-radius: 0.5em;
    width: 100%;
    text-align: left;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 4.5vw;
    }
  }
}

.bf-sort {
  text-align: right;
}

#bf-sort {
  display: block !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  padding: 0;
  background-color: transparent;
  color: $white;
  border: 0;
  height: auto !important;
  font-size: 5vw;
  font-weight: 500;
  text-align-last: right;
  width: auto !important;
  option {
    color: $black !important;
  }
}

.bf-status {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em 0;
  font-size: 4.5vw;
}

.bf-list {
  li {
    padding: 1.75em 1.35em;
    background-color: $purple-alpha;
    animation: opacity 0.3s linear;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.bf-origin-destination {
  span {
    font-weight: 300;
    font-size: 5vw;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    i {
      font-size: 3.25vw;
      margin-right: 0.75em;
      &.icon-destination {
        color: $white !important;
      }
    }
  }
}
.bf-prices-and-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.25em;
  span {
    font-size: 6.5vw;
    &::before {
      content: 'A partir de';
      display: block;
      font-size: 3.5vw;
    }
  }

  button {
    display: inline-flex;
    padding: 0.75em 1em;
    background-color: $white;
    border-radius: 0.75em;
    color: $black;
    align-items: center;
    font-size: 4.5vw;
  }
}

// Regulation

#bf-regulation {
  background-color: $dark-purple;
  padding: 3.75em 0;
  color: $white;
  h2 {
    padding: 0 1em;
    font-size: 8vw;
    margin-top: 0;
  }
}

.bf-accordion-title {
  width: 100%;
  padding: 1em 1.85em;
  font-size: 4.5vw;
  text-align: left;
  background-color: $white;
  border-bottom: 1px solid $grey;
  color: $black;
  display: flex;
  align-items: center;
  border-radius: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  justify-content: space-between;
  &::after {
    font-family: icons-clickbus !important;
    content: "";
    color: $blue;
    transition: all 0.2s ease-in-out;
  }

  &.bf-active {
    &::after {
      transform: rotate(-180deg);
    }
  }

}
.bf-accordion-content {
  background-color: $white;
  color: $black;
  font-size: 4.5vw;
  padding: 0 1.85em;
  line-height: 1.5;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &.bf-active {
    max-height: 10000px;
  }

  *:first-child {
    margin-top: 0 !important;
    padding-top: 1.85em !important;
  }
  *:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 1.85em !important;
  }
}

.bf-go-to-top {
  display: table;
  color: $white;
  margin: 3.5em auto 0;
  text-decoration: underline;
  img {
    margin-left: 0.5em;
    width: 1.25em;
    position: relative;
    bottom: -0.25em
  }
}

// Filter Options

#bf-filter-options {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: $dark-purple;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
  pointer-events: none;
  &.bf-active {
    transform: translateY(0);
    pointer-events: all;
  }
  header {
    display: flex;
    padding: 2em 1.5em;
    color: $white;
    font-size: 5vw;
    justify-content: space-between;
  }

  article {
    color: $white;
    h3 {
      font-size: 6vw;
      margin: 0 0 0.2em 0;
      padding: 0 1em;
    }

    > span {
      font-size: 3.75vw;
      color: $light-grey;
      padding-left: 1.65em;
    }
  }

  form {
    margin-top: 1em;
    max-height: calc(100vh - 16em);
    overflow: auto;
    label {
      width: 100%;
      background-color: $purple-alpha;
      padding: 1em 1.75em;
      align-items: center;
      border-bottom: 1px solid $white-alpha;
      display: block;
      position: relative;
      font-size: 4.2vw;

      span {
        content: '';
        width: 1.25em;
        height: 1.25em;
        border-radius: 0.2em;
        border: 1px solid $yellow;
        transition: 0.2s linear;
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          font-family: icons-clickbus!important;
          content: "\e92a";
          transform: scale(0);
          font-size: 0.5em;
          transition: 0.1s linear;
          color: $dark-purple;
        }
      }

      [type="checkbox"] {
        &:checked {
          & + span {
            background-color: $yellow;
            &::before {
              transform: scale(1);
            }
          }
        }
      }

    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    margin-top: auto;
    button {
      padding: 0.75em 2.5em;
      border-radius: 0.5em;
      transition: all 0.2s;
    }
    #clear-origins-options {
      color: $white;
    }
    #apply-origins-options {
      background-color: $white;
      color: $dark-purple;
      &:disabled {
        background-color: $disabled;
        color: $light-grey;
      }
    }
  }
}

// Keyframes

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Modal Dates

#bf-mask-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: $black-alpha;
  display: none;
  &.bf-active {
    display: block;
    animation: opacity 0.4s ease-in-out;
  }
}

#bf-modal-dates {
  display: none;
  position: fixed;
  width: 90%;
  border-radius: 0.75em;
  background-color: $white;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  left: 5%;
  text-align: center;
  color: $black;

  &.bf-active {
    display: block;
    animation: opacity 0.4s ease-in-out;
  }

  .bf-content {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
  }
  h3 {
    font-weight: 500;
    margin-top: 0;
    span {
      display: block;
    }
  }
  table {
    thead {
      border-bottom: 0;
    }
    th, td {
      text-align: center;
      padding: 0.35em;
      font-weight: 400;
      font-size: 0.9em;
    }
  }

  .bf-alert {
    display: flex;
    text-align: left;
    font-size: 3.5vw;
    align-items: flex-start;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid $grey;
    img {
      margin-right: 0.75em;
    }
  }

  .bf-table-dates {
    max-height: 50vh;
    overflow: auto;
  }

  button {
    background-color: $purple;
    color: $white;
    font-size: 1.15em;
    padding: 1em;
    width: 100%;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    font-weight: 300;
    position: relative;
    top: 0.4em;
  }

}

@media only screen and (max-width: 359px) {
  #bf-modal-dates {
    table {
      td, th {
        font-size: 0.9em;
      }
    }
  }
}